#month-display {
  display: inline;
  flex: 3;
}

#month-toolbar {
  display: flex;
}

.month-nav {
  font-size: 2.5rem;
  cursor: pointer;
  vertical-align: baseline;
  padding-top: 2rem;
}

.month-nav:not(:last-child) {
  margin-right: 2.5rem;
}

/* creates the hover animation on the calendar button */
#calendar-body:hover {
  cursor: pointer;
  align-content: justify;
}

/* sets the width of the calendar */
#calendar {
  table-layout: fixed;
  width: 100%;
}

#calendar-section {
  margin-top: 2rem;
}

.calendar-date {
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
}

.calendar-date:hover {
  color: rgba(44, 153, 255, 0.6);
}

.calendar-current-date {
  background-color: rgba(0, 192, 192, 0.3);
}

#monthAndYear {
  font-weight: 100;
}

@media (min-width: 768px) {
  .container {
    min-width: 850px;
  }
}

.badge-earned {
  width: 75px;
  height: 85px;
}
