.pageOne {
    text-align: center;
}

.svg {
    text-align: center;
    filter: sepia(1);
}

.App {
    text-align: center;
}

#progress-bar {
    margin-top: 25px;
    display: inline-flex;
    width: 50%;
    height: 30px;
    position: relative;
    background-color: #ddd;
    text-align: center;
}

#my-bar {
    background-color: darkblue;
    height: 30px;
    position: absolute;
    text-align: center;

}

#graphic-container {
    display: flex;
    margin: auto;
    margin-top: 10px;
}

#middlerose {
    width: 100px;
    height: 100px;
    display: flex;
    position: relative;
    margin: auto;
    margin-top: 20px;
}

#deadrose {
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    position: relative;
}

#formID {
    margin-bottom: 30px;
}