.pageOne {
    text-align: center;
}

.svg {
    text-align: center;
    filter: sepia(1);
}

.App {
    text-align: center;
}

#progress-bar {
    margin-top: 100px;
    display: inline-flex;
    width: 50%;
    height: 30px;
    position: relative;
    background-color: #ddd;
    text-align: center;
}

#my-bar {
    background-color: darkblue;
    height: 30px;
    position: absolute;
    text-align: center;

}

#graphic-container {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid;
    width: 50px;
    height: 50px;
    background-color: white;
}