.pageOne {
  text-align: center;
}

.svg {
  text-align: center;
  filter: sepia(1);
}

.App {
  text-align: center;
  font-size: 25px;
  color: black;
  font-family: Arial;
}

#submitBtn:hover,
#goalBtn:hover {
  cursor: pointer;
  opacity: 0.6;
}

#submitBtn,
#goalBtn {
  border: #41d3f4;
  border-radius: 25px;
  color: white;
  background-color: #42f4c5;
  width: 35;
  height: 35px;
  font-size: 16px;
}

#waterGif {
  height: 150px;
  width: 200px;
  margin: auto;
  display: flex;
  border-radius: 20px;
}

#msgs {
  font-size: 30px;
  margin: auto;
  margin-top: 15px;
}

#options {
  border-radius: 35px;
  font-weight: bold;
}

#options:hover {
  opacity: 0.6;
  cursor: pointer;
}

#waterDrankRecently,
#dailyGoalUserInput {
  border-radius: 15px;
}

.counter-value-text {
  font-size: 3rem;
  font-weight: 100;
}

.units-text {
  font-size: 1.5rem;
  font-weight: 100;
}

#getRecent,
#getGoal {
  width: 150px;
  height: 25px;
  border-radius: 10px;
  margin-right: 10px;
}

#progress-bar {
  border-radius: 25px;
  margin-top: 25px;
  display: inline-flex;
  width: 50%;
  height: 30px;
  position: relative;
  background-color: #ddd;
  text-align: center;
}

#my-bar {
  border-radius: 25px;
  background-color: #42f44b;
  height: 30px;
  position: absolute;
  text-align: center;
}

#graphic-container {
  display: flex;
  margin: auto;
  margin-top: 10px;
}

#aliverose {
  width: 250px;
  height: 250px;
  display: flex;
  margin: auto;
  margin-top: 20px;
}

#deadrose {
  width: 250px;
  height: 250px;
  margin: auto;
  margin-top: 20px;
  display: flex;
}

#plant-graphic {
  width: 250px;
  height: 250px;
  margin: auto;
  margin-top: 20px;
  display: flex;
}

#formID {
  margin-bottom: 30px;
}

#app-content {
  padding: 2rem;
}

#hydration-graphic {
  display: -webkit-inline-box;
  margin-left: 100px;
  width: 250px;
  height: 250px;
  margin: auto;
  margin-top: 20px;
  display: flex;
}

#unit-select-area {}

#unit-select-label {
  font-size: 0.75rem;
  color: white;
  padding-right: 0;
}

.container {
  margin-bottom: 2rem;
}

/* #myCanvas {
  width: "1000";
  height: "1000";
  margin-left: 600px;
} */