.pageOne {
    text-align: center;
}

.svg {
    text-align: center;
    filter: sepia(1);
}

.getUserInput {
    text-align: center;
}

#progress-bar {
    width: 100%;
    background-color: #ddd;
}

#my-bar {
    text-align: center;
    width: 10%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
}